<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ title }}">
  <meta name="keywords" content="Selvbetjening">
  <meta name="author" content="{{ author }}">
  <title>{{ title }}</title>
  {{ entity_print_css }}
</head>
<body>

{% if header %}
<header>
  {{ header }}
</header>
{% endif %}

{% if footer %}
  <footer>
    {{ footer }}
  </footer>
{% endif %}

<div class="page">
  {{ content }}
</div>

</body>
</html>
